Package: chonos-firmwaremng
Version: 25.12.02
Priority:
Architecture: all
Essential:
Depends: javino (>= 1.6.5-251202), arduino-cli
Pre-depends: curl, file, coreutils, jq, sudo
Suggests:
Installed-Size:
Maintainer: Nilson Lazarin <chon@grupo.cefet-rj.br>
Homepage: https://javino.chon.group/
Conflicts: brltty
Replaces:
Provides:
Description: ChonOS Firmware Layer Manager allows the management of the interfacing and firmware layers. 
