Package: chonos-firmwaremng
Version: 1.6.0
Priority:
Architecture: all
Essential:
Depends: javino
Pre-depends: curl
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts: brltty
Replaces:
Provides:
Description: ChonOS Firmware Layer Manager.
